@media (max-width: 1199px){
	.header-title{
		font-size: 35px;
		padding-left: 20px;
	}
	.section-title_dark{
		padding-left:25px;
	}
	.col-name_photograph{
		padding-left: 20px;
	}
	.header__description{
		font-size: 20px;
	}
	.product-card_text{
		font-size: 14px;
		min-height: 70px;
	}
	.section_form{
		margin-bottom: 30px;
	}
	.section_description{
		max-width: 600px;
		padding-left: 20px;
	}
	.section-title_light{
		padding-left: 35px;
	}
	.form_input{
		font-size: 14px;
		min-width: 210px;
	}
	.extra-cards{
		flex-wrap: wrap;
	}
	.extra-card{
		flex-basis: 49%;
		margin-bottom: 30px;
	}
}
@media(max-width: 992px){
	.section{
		padding: 45px 0;
	}
	.form_input{
		width: 90%;
		max-width: 350px;
		margin-bottom: 20px;
	}
	.form_button{
		width: 90%;
		max-width: 350px;
		margin-top: 10px;
	}
	.map{
		position: relative;
		width: 100%;
		height: 350px;
	}
	.slick{
		width: 90%;
		max-width: 500px;
		margin-left: 190px;
	}
	.footer{
		text-align: center;
	}
	.col-name_photographs{
		margin-bottom: 15px;
	}
	.footer-developer{
		text-align: center;
	}
	.footer_policy-link{
		margin-bottom: 15px;
	}
}
@media(max-width: 992px){
	.col-name_photograph{
		margin-bottom: 20px;
		text-align: center;
		display: block;
	}
	.header-phones{
		text-align: center;
	}
	.header-phones_number{
		margin-left: 0;
		display: block;
	}
	.top{
		margin-bottom: 30px;
	}
	.header-title{
		font-size: 24px;
	}
	.header__description{
		font-size: 18px;
	}
	.header-trigger{
		margin-bottom: 15px;
		display: block;
	}
	.header-triggers{
		margin-bottom: 20px;
	}
	.button_light{
		margin-bottom: 50px;
	}
	.section-title_title{
		font-size: 24px;
		text-align: center;
	}
	.section-title_dark{
		font-size: 20px;
	}
	.section_dark{
		background-image: none;
	}
	.form_button{
		font-size: 14px;
	}
	.extra-cards{
		flex-basis: 100%;
	}
	.modal-dialog{
		padding:20px;
	}
}